<footer class="row">
  <div class="newsletter--l">
  </div>
  <div class="footer--nav--l">
    <nav class="nav row">
      <div class="footer--col--l">
        <div><a href="https://twitter.com/{{settings.author.twitter}}" target="_blank">Twitter</a></div>
        <div><a href="http://linkedin.com/in/{{settings.author.linkedin}}/" target="_blank">LinkedIn</a></div>
      </div>
      <div class="footer--col--l">
        <div><a href="https://github.com/{{settings.author.github}}" target="_blank">GitHub</a></div>
        <div><a href="{{settings.sourceurl}}" target="_blank">Site Source</a></div>
      </div>
    </nav>
  </div>
  <div class="back-to-top--l">
    <div class="footer--col--l">
      <a class="button--link" href="#top">Back to Top</a>
    </div>
  </div>
</footer>
