<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{settings.description}}">
  <meta name="news_keywords" content="{{settings.keywords}}" />
  <meta name="standout" content="{{url}}{{paths.href}}" />
  <meta property="og:site_name" content="{{settings.name}}" />
  <meta property="og:description" content="{{settings.description}}" />
  <meta property="og:title" content="{{capitalize title}} - {{name}}" />
  <meta property="og:url" content="{{url}}{{paths.href}}" />
  <meta property="og:type" content="article" />
  {{#if art}}
  <meta property="og:image" content="{{url}}/assets/images/{{art}}" />
  {{else}}
  <meta property="og:image" content="{{settings.avatarurl}}" />
  {{/if}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{settings.author.twitter}}" />
  <meta name="twitter:title" content="{{title}} - {{name}}" />
  <meta name="twitter:description" content="{{settings.description}}" />
  <meta name="twitter:creator" content="{{settings.author.twitter}}" />
  <meta name="twitter:domain" content="{{url}}>" />
  {{#if art}}
  <meta name="twitter:image:src" content="{{url}}/assets/images/{{art}}" />
  {{else}}
  <meta name="twitter:image" content="{{settings.avatarurl}}" />
  {{/if}}
  <title>{{#if title}}{{capitalize title}}{{else}}{{capitalize paths.dir}}{{/if}} - {{name}}</title>
  <link rel="author" href="humans.txt" />
  <link rel="icon" href="/assets/images/avatar.png">
  <link rel="stylesheet" href="/styles/main.css">
  <!-- {{#if devBuild}}dev{{else}}production{{/if}} v{{version}} -->
</head>
<body id="top" class="{{path.name}}-page{{#if path.dir}} {{path.dir}}-route{{/if}}" itemscope itemtype="http://schema.org/WebPage">
  <div class="nav--menu">
    {{> header}}
    {{> nav}}
  </div>
  <div class="layout--main">
    <div class="container">
    <main>
