
{# I made 3 options to load css #}

{# 1. use the local tailwind css #}
{# <link rel="stylesheet" href="/assets/style.css" /> #}

{# 2. use previously built Tailwind CSS to remove local build step #}
<link rel="stylesheet" href="https://www.bradoyler.com/assets/style.css" />

{# 3. use unpkg cdn to reduce build dependencies #}
{# <script src="https://unpkg.com/tailwindcss-cdn@3.4.10/tailwindcss-with-typography.js"></script> #}


