{{> start}}
  <article class="article--post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta--post--l">
    <div class="row">
      <div class="meta--container meta--container-post">
        <div class="meta--txt meta--heading">
          <span class="meta meta--primary">{{#if collection}}<a class="meta--link" href="/{{collection}}">{{collection}}</a>{{else}}{{capitalize paths.dir}}{{/if}}</span>
        </div>
      </div>
      <div class="meta--container meta--container-post">
        <div class="meta--txt meta--heading">
          {{> time}}
        </div>
      </div>
    </div>
  </div>
    <header class="article--header">
      <h1 itemprop="headline">{{title}}</h1>
      <p class="dek dek--lg">{{description}}</p>
      {{#is path.dir 'articles'}}
        {{> byline}}
      {{/is}}
      {{#if autotoc}}
        Table of Contents
        <ol class="toc">
          {{#each toc}}
          <li><a href="#{{id}}">{{text}}</a></li>
          {{/each}}
        </ol>
      {{/if}}
    </header>
    <div class="article--body" itemprop="articleBody">
      {{{typogrFormat contents}}}
    </div>
  </article>
  {{> postnav}}

<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//bradoyler.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{> end}}
