@tailwind base;
@tailwind components;
@tailwind utilities;

/* This line is REQUIRED for @tailwindcss/typography in v3 */
@import "tailwindcss/typography";

/* Your custom stuff */
body {
  font-family: 'Inter', sans-serif;
}

.dark {
  color-scheme: dark;
}

